.images-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0;
  justify-content: space-around;
  row-gap: 20px;

  .loading {
    width: 100vw;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    mat-spinner {
      width: 30vw;
    }
  }

  .image-with-button {
    position: relative;
    height: 200px;
    width: 200px;

    img {
      height: 100%;
      width: 100%;
    }

    button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }

    &:hover {
      img {
        opacity: 0.3;
      }

      button {
        opacity: 1;
      }
    }
  }
}